.flows.json.backup
[
    {
        "id": "da0a6197eb531b34",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "843a677c6a9e097d",
        "type": "mqtt-broker",
        "name": "LabsoftIot",
        "broker": "143.107.102.8",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "34711a3afb413df3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#e260eb",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Node Red Custom Theme",
                "default": "#4B7930",
                "baseColor": "#9e3131",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Consumo energético de uma academia",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9de4412dd5de194b",
        "type": "ui_tab",
        "name": "Consumo de Energia Elétrica da Academia",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2620d719d05ae40b",
        "type": "ui_group",
        "name": "Consumo Geral (Wh)",
        "tab": "9de4412dd5de194b",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e2ed984c054fac1",
        "type": "ui_group",
        "name": "Consumo (Wh) por área",
        "tab": "9de4412dd5de194b",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "513111056d4e7b6e",
        "type": "ui_group",
        "name": "Iluminação",
        "tab": "f0993b7a5516cdd3",
        "order": 4,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f15120261976258",
        "type": "ui_group",
        "name": "Sistema Administrativo",
        "tab": "f0993b7a5516cdd3",
        "order": 3,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa5fead14d149f9e",
        "type": "ui_group",
        "name": "Ar-Condicionado",
        "tab": "f0993b7a5516cdd3",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab8d2216f243ed57",
        "type": "ui_group",
        "name": "Equipamentos Ergométricos",
        "tab": "f0993b7a5516cdd3",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0993b7a5516cdd3",
        "type": "ui_tab",
        "name": "Consumo por Área",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8469af27d71505ce",
        "type": "debug",
        "z": "da0a6197eb531b34",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "f5204e379d9163ee",
        "type": "debug",
        "z": "da0a6197eb531b34",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "72a2b3f001350752",
        "type": "ui_text",
        "z": "da0a6197eb531b34",
        "group": "2620d719d05ae40b",
        "order": 1,
        "width": 20,
        "height": 1,
        "name": "",
        "label": "Consumo nos últimos 10s",
        "format": "{{msg.payload.toFixed(2)}}Wh",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "4632e1ac66b06eda",
        "type": "ui_template",
        "z": "da0a6197eb531b34",
        "group": "46ba205b9a2746e5",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Os grupos em si */\n    ui-card-panel {\n        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;\n        border-radius: 5px;\n    }\n\n    /* Todos os elementos dentro dos grupos */\n    ui-card-panel * {\n        border-radius: 2.5px;\n    }\n\n    /* Titutlo do grupo */\n    .nr-dashboard-cardtitle {\n        font-weight: bold !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 180,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "9471a5eeac732e65",
        "type": "function",
        "z": "da0a6197eb531b34",
        "name": "Normaliza resultado",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = 0.1 * msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "72a2b3f001350752",
                "68982ebb21f0eaf8",
                "8d0191ecce9aa574",
                "3f492d51b5a83fe2",
                "e2158dba85fd7efa",
                "247ec54725c26c19"
            ]
        ]
    },
    {
        "id": "68982ebb21f0eaf8",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "2620d719d05ae40b",
        "order": 2,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "32",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "6e98726d14692d53",
        "type": "mqtt in",
        "z": "da0a6197eb531b34",
        "name": "Dados JE05",
        "topic": "garsoft/dev/je05/dados",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "843a677c6a9e097d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "8469af27d71505ce",
                "2a0734621effb8bc"
            ]
        ]
    },
    {
        "id": "2a0734621effb8bc",
        "type": "function",
        "z": "da0a6197eb531b34",
        "name": "Filtragem",
        "func": "msg.payload = msg.payload.DATA.PT;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "f5204e379d9163ee",
                "9471a5eeac732e65"
            ]
        ]
    },
    {
        "id": "8d0191ecce9aa574",
        "type": "function",
        "z": "da0a6197eb531b34",
        "name": "Sistema de Ar-condicionado",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = isGymOpen ? 0.5 * msg.payload : 0;\nmsg.topic = \"Sistema de Ar-condicionado\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 600,
        "wires": [
            [
                "d66a0caeb5a18cc0",
                "85be5663696e9e96",
                "68053f050fe9ba48",
                "0793e09f164d8a39",
                "75bd8678ff13ee87"
            ]
        ]
    },
    {
        "id": "3f492d51b5a83fe2",
        "type": "function",
        "z": "da0a6197eb531b34",
        "name": "Sistema Geral",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = isGymOpen ? 0.15 * msg.payload : 0;\nmsg.topic = \"Sistema Adminstrativo\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 740,
        "wires": [
            [
                "d66a0caeb5a18cc0",
                "e1d081bc1e4d23cc",
                "68053f050fe9ba48",
                "2de0f14db44bd209",
                "97c4e875e18e5307"
            ]
        ]
    },
    {
        "id": "e2158dba85fd7efa",
        "type": "function",
        "z": "da0a6197eb531b34",
        "name": "Equipamentos Ergométricos",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet min, max;\n\nif ((hora >= 6 && hora < 10) || (hora >= 13 && hora < 16) || (hora >= 20 && hora <= 23)) {\n    min = 0.3;\n    max = 0.5;\n} else if (hora >= 10 && hora < 13) {\n    min = 0.6;\n    max = 0.9;\n} else if (hora >= 17 && hora < 20) {\n    min = 0.8;\n    max = 1;\n} else {\n    min = 0.05;\n    max = 0.2;\n}\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nconst porcentagemUtilizacao = Math.random() * (max - min) + min;\nmsg.payload = isGymOpen ? 0.3 * porcentagemUtilizacao * msg.payload : 0;\nmsg.topic = \"Equipamentos Ergométricos\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 900,
        "wires": [
            [
                "d66a0caeb5a18cc0",
                "e05f991850ac4d6d",
                "68053f050fe9ba48",
                "2d529ad00bb366ee",
                "4172288e8aeb8728"
            ]
        ]
    },
    {
        "id": "247ec54725c26c19",
        "type": "function",
        "z": "da0a6197eb531b34",
        "name": "Iluminação",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = isGymOpen ? 0.05 * msg.payload : 0;\nmsg.topic = \"Iluminação\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1040,
        "wires": [
            [
                "d66a0caeb5a18cc0",
                "64e07eda3b0cd21f",
                "68053f050fe9ba48",
                "113202c85882c0fd",
                "5f0e04060e450cbf"
            ]
        ]
    },
    {
        "id": "d66a0caeb5a18cc0",
        "type": "ui_chart",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "2620d719d05ae40b",
        "order": 3,
        "width": 10,
        "height": 4,
        "label": "Consumo percentual por área",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-general",
        "x": 1570,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "64e07eda3b0cd21f",
        "type": "ui_chart",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "513111056d4e7b6e",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-lights",
        "x": 1590,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "e05f991850ac4d6d",
        "type": "ui_chart",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "ab8d2216f243ed57",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "12",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-equipments",
        "x": 1590,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e1d081bc1e4d23cc",
        "type": "ui_chart",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "3f15120261976258",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "6",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-admin-system",
        "x": 1590,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "85be5663696e9e96",
        "type": "ui_chart",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "aa5fead14d149f9e",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-air-conditioning",
        "x": 1590,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "68053f050fe9ba48",
        "type": "ui_chart",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "2620d719d05ae40b",
        "order": 4,
        "width": 20,
        "height": 6,
        "label": "Consumo nominal por área",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1560,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "0793e09f164d8a39",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "aa5fead14d149f9e",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo ",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15.8",
        "seg2": "16.2",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 620,
        "wires": []
    },
    {
        "id": "2de0f14db44bd209",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "3f15120261976258",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4.6",
        "seg2": "4.8",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 800,
        "wires": []
    },
    {
        "id": "2d529ad00bb366ee",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "ab8d2216f243ed57",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "11",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 960,
        "wires": []
    },
    {
        "id": "113202c85882c0fd",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "513111056d4e7b6e",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1.7",
        "seg2": "1.9",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 1100,
        "wires": []
    },
    {
        "id": "75bd8678ff13ee87",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "8e2ed984c054fac1",
        "order": 1,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Ar-Condicionado",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15.8",
        "seg2": "16.2",
        "diff": false,
        "className": "",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "97c4e875e18e5307",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "8e2ed984c054fac1",
        "order": 3,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Sistema Administrativo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4.6",
        "seg2": "4.8",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 680,
        "wires": []
    },
    {
        "id": "4172288e8aeb8728",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "8e2ed984c054fac1",
        "order": 2,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Equipamentos Ergométricos",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "11",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 880,
        "wires": []
    },
    {
        "id": "5f0e04060e450cbf",
        "type": "ui_gauge",
        "z": "da0a6197eb531b34",
        "name": "",
        "group": "8e2ed984c054fac1",
        "order": 4,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Iluminação",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1.7",
        "seg2": "1.9",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 1020,
        "wires": []
    }
]