.flows.json.backup
[
    {
        "id": "949874d98a5aafe5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1531f8607ed8cbb6",
        "type": "mqtt-broker",
        "name": "LabsoftIot",
        "broker": "143.107.102.8",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "38fa8183b18d34e7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#e260eb",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#e260eb",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#e260eb",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#eea4f4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#e260eb",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "569466cd3c2bc38f",
        "type": "ui_tab",
        "name": "Consumo de Energia Elétrica da Academia",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f33a134b1755c54",
        "type": "ui_group",
        "name": "Sistema Geral da Academia",
        "tab": "569466cd3c2bc38f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a69de2dd0ee807d",
        "type": "ui_group",
        "name": "Equipamentos Ergométricos",
        "tab": "569466cd3c2bc38f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61a54bdaa7d098ca",
        "type": "ui_group",
        "name": "Consumo Geral",
        "tab": "569466cd3c2bc38f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "103f0b9f639afdbd",
        "type": "mqtt in",
        "z": "949874d98a5aafe5",
        "name": "Dados JE05",
        "topic": "garsoft/dev/je05/dados",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1531f8607ed8cbb6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "f8f7f00e3d587486",
                "b7c09bbb0201e710"
            ]
        ]
    },
    {
        "id": "f8f7f00e3d587486",
        "type": "debug",
        "z": "949874d98a5aafe5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 340,
        "y": 380,
        "wires": []
    },
    {
        "id": "b7c09bbb0201e710",
        "type": "function",
        "z": "949874d98a5aafe5",
        "name": "Filtragem",
        "func": "msg.payload = msg.payload.DATA.PT;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 460,
        "wires": [
            [
                "93c1e0cecbaa59e8",
                "b68f510d551f7e8a",
                "366e8b2222efa007",
                "3556a8dc8ec80299"
            ]
        ]
    },
    {
        "id": "93c1e0cecbaa59e8",
        "type": "debug",
        "z": "949874d98a5aafe5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "b68f510d551f7e8a",
        "type": "function",
        "z": "949874d98a5aafe5",
        "name": "Sistema Geral",
        "func": "msg.payload = 0.1 * msg.payload;\nmsg.topic = \"Sistema Adminstrativo\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "8fa55b8cf27ba792",
                "a8dd4be0df778cc3"
            ]
        ]
    },
    {
        "id": "8fa55b8cf27ba792",
        "type": "ui_chart",
        "z": "949874d98a5aafe5",
        "name": "",
        "group": "9f33a134b1755c54",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Consumo do Sistema Administrativo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "366e8b2222efa007",
        "type": "function",
        "z": "949874d98a5aafe5",
        "name": "Equipamentos Ergométricos",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet min, max;\n\nif ((hora >= 6 && hora < 10) || (hora >= 13 && hora < 16) || (hora >= 20 && hora <= 23)) {\n    min = 0.3;\n    max = 0.5;\n} else if (hora >= 10 && hora < 13) {\n    min = 0.6;\n    max = 0.9;\n} else if (hora >= 17 && hora < 20) {\n    min = 0.8;\n    max = 1;\n} else {\n    min = 0.05;\n    max = 0.2;\n}\n\nconst porcentagemUtilizacao = Math.floor(Math.random() * (max - min + 1)) + min;\nmsg.payload = 0.3 * porcentagemUtilizacao * msg.payload;\nmsg.topic = \"Equipamentos Ergométricos\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 860,
        "wires": [
            [
                "8f284f78b78ee362",
                "a8dd4be0df778cc3"
            ]
        ]
    },
    {
        "id": "8f284f78b78ee362",
        "type": "ui_chart",
        "z": "949874d98a5aafe5",
        "name": "",
        "group": "8a69de2dd0ee807d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Consumo dos Equipamentos ergométricos",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a8dd4be0df778cc3",
        "type": "ui_chart",
        "z": "949874d98a5aafe5",
        "name": "",
        "group": "61a54bdaa7d098ca",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3556a8dc8ec80299",
        "type": "function",
        "z": "949874d98a5aafe5",
        "name": "Sistema de Ar-condicionado",
        "func": "msg.payload = 0.5 * msg.payload;\nmsg.topic = \"Sistema de Ar-condicionado\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "a8dd4be0df778cc3",
                "e30cba6cd6255dfc"
            ]
        ]
    },
    {
        "id": "e30cba6cd6255dfc",
        "type": "ui_chart",
        "z": "949874d98a5aafe5",
        "name": "",
        "group": "9f33a134b1755c54",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Ar-condicionado",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 560,
        "wires": [
            []
        ]
    }
]