flows.json
[
    {
        "id": "f30b9b36780d1302",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c07b9da90c35341f",
        "type": "debug",
        "z": "f30b9b36780d1302",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "4daa4fa30768a544",
        "type": "debug",
        "z": "f30b9b36780d1302",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "06250ecfc6c72ecc",
        "type": "ui_text",
        "z": "f30b9b36780d1302",
        "group": "2620d719d05ae40b",
        "order": 1,
        "width": 20,
        "height": 1,
        "name": "",
        "label": "Consumo nos últimos 10s",
        "format": "{{msg.payload.toFixed(2)}}Wh",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "8afc88f328b3f72c",
        "type": "ui_template",
        "z": "f30b9b36780d1302",
        "group": "46ba205b9a2746e5",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Os grupos em si */\n    ui-card-panel {\n        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;\n        border-radius: 5px;\n    }\n\n    /* Todos os elementos dentro dos grupos */\n    ui-card-panel * {\n        border-radius: 2.5px;\n    }\n\n    /* Titutlo do grupo */\n    .nr-dashboard-cardtitle {\n        font-weight: bold !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 180,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "f774a3eed336cff9",
        "type": "function",
        "z": "f30b9b36780d1302",
        "name": "Normaliza resultado",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = 0.1 * msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "06250ecfc6c72ecc",
                "7d171cce5d63f0c7",
                "6969956912cf7044",
                "03795ea6ff640898",
                "023bec918b756926",
                "f6eacf12dd23dbc4"
            ]
        ]
    },
    {
        "id": "7d171cce5d63f0c7",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "2620d719d05ae40b",
        "order": 2,
        "width": 10,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "32",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "f44f0d5ac7945be8",
        "type": "mqtt in",
        "z": "f30b9b36780d1302",
        "name": "Dados JE05",
        "topic": "garsoft/dev/je05/dados",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "33c77672c039fffb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "c07b9da90c35341f",
                "c70f6f511432bc32"
            ]
        ]
    },
    {
        "id": "c70f6f511432bc32",
        "type": "function",
        "z": "f30b9b36780d1302",
        "name": "Filtragem",
        "func": "msg.payload = msg.payload.DATA.PT;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "4daa4fa30768a544",
                "f774a3eed336cff9"
            ]
        ]
    },
    {
        "id": "6969956912cf7044",
        "type": "function",
        "z": "f30b9b36780d1302",
        "name": "Sistema de Ar-condicionado",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = isGymOpen ? 0.5 * msg.payload : 0;\nmsg.topic = \"Sistema de Ar-condicionado\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 600,
        "wires": [
            [
                "9c5084f22b24f276",
                "216315e5a222c4bb",
                "0510fc24c5a49d4f",
                "292937545ddd6d27",
                "27e8659b233bb32e"
            ]
        ]
    },
    {
        "id": "03795ea6ff640898",
        "type": "function",
        "z": "f30b9b36780d1302",
        "name": "Sistema Geral",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = isGymOpen ? 0.15 * msg.payload : 0;\nmsg.topic = \"Sistema Adminstrativo\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 740,
        "wires": [
            [
                "9c5084f22b24f276",
                "8f574bc3d47223d1",
                "0510fc24c5a49d4f",
                "6bbaf1d49cda4fc2",
                "17667224bafe68bc"
            ]
        ]
    },
    {
        "id": "023bec918b756926",
        "type": "function",
        "z": "f30b9b36780d1302",
        "name": "Equipamentos Ergométricos",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet min, max;\n\nif ((hora >= 6 && hora < 10) || (hora >= 13 && hora < 16) || (hora >= 20 && hora <= 23)) {\n    min = 0.3;\n    max = 0.5;\n} else if (hora >= 10 && hora < 13) {\n    min = 0.6;\n    max = 0.9;\n} else if (hora >= 17 && hora < 20) {\n    min = 0.8;\n    max = 1;\n} else {\n    min = 0.05;\n    max = 0.2;\n}\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nconst porcentagemUtilizacao = Math.random() * (max - min) + min;\nmsg.payload = isGymOpen ? 0.3 * porcentagemUtilizacao * msg.payload : 0;\nmsg.topic = \"Equipamentos Ergométricos\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 900,
        "wires": [
            [
                "9c5084f22b24f276",
                "e8cd7935fdbec7a4",
                "0510fc24c5a49d4f",
                "c5571e95523662fb",
                "cc4fb843127e0474"
            ]
        ]
    },
    {
        "id": "f6eacf12dd23dbc4",
        "type": "function",
        "z": "f30b9b36780d1302",
        "name": "Iluminação",
        "func": "const agora = new Date();\nconst hora = agora.getHours();\n\nlet isGymOpen = true;\n\n// if (hora >= 6 && hora <= 23)\n//     isGymOpen = true;\n// else\n//     isGymOpen = false;\n\nmsg.payload = isGymOpen ? 0.05 * msg.payload : 0;\nmsg.topic = \"Iluminação\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1040,
        "wires": [
            [
                "9c5084f22b24f276",
                "2644d44d28c861bd",
                "0510fc24c5a49d4f",
                "fdcf830428667bb7",
                "6f94772deb80492d"
            ]
        ]
    },
    {
        "id": "9c5084f22b24f276",
        "type": "ui_chart",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "2620d719d05ae40b",
        "order": 3,
        "width": 10,
        "height": 4,
        "label": "Consumo percentual por área",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-general",
        "x": 1570,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "2644d44d28c861bd",
        "type": "ui_chart",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "8971ef8eb143ed88",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-lights",
        "x": 1590,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "e8cd7935fdbec7a4",
        "type": "ui_chart",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "87904a2117d47d85",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "12",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-equipments",
        "x": 1590,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "8f574bc3d47223d1",
        "type": "ui_chart",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "a614225ff12d6ff5",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "6",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-admin-system",
        "x": 1590,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "216315e5a222c4bb",
        "type": "ui_chart",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "654b4c7798a1604b",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "Histórico do Consumo Nominal (Wh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "chart-air-conditioning",
        "x": 1590,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0510fc24c5a49d4f",
        "type": "ui_chart",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "2620d719d05ae40b",
        "order": 4,
        "width": 20,
        "height": 6,
        "label": "Consumo nominal por área (Wh)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1570,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "292937545ddd6d27",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "654b4c7798a1604b",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo ",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15.8",
        "seg2": "16.2",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 620,
        "wires": []
    },
    {
        "id": "6bbaf1d49cda4fc2",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "a614225ff12d6ff5",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4.6",
        "seg2": "4.8",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 800,
        "wires": []
    },
    {
        "id": "c5571e95523662fb",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "87904a2117d47d85",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "11",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 960,
        "wires": []
    },
    {
        "id": "fdcf830428667bb7",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "8971ef8eb143ed88",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Escala de Consumo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1.7",
        "seg2": "1.9",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 1100,
        "wires": []
    },
    {
        "id": "27e8659b233bb32e",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "3b2e1e7a9c0a65cf",
        "order": 1,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Ar-Condicionado",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15.8",
        "seg2": "16.2",
        "diff": false,
        "className": "",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "17667224bafe68bc",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "3b2e1e7a9c0a65cf",
        "order": 3,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Sistema Administrativo",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4.6",
        "seg2": "4.8",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 680,
        "wires": []
    },
    {
        "id": "cc4fb843127e0474",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "3b2e1e7a9c0a65cf",
        "order": 2,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Equipamentos Ergométricos",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "11",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 880,
        "wires": []
    },
    {
        "id": "6f94772deb80492d",
        "type": "ui_gauge",
        "z": "f30b9b36780d1302",
        "name": "",
        "group": "3b2e1e7a9c0a65cf",
        "order": 4,
        "width": 10,
        "height": 5,
        "gtype": "gage",
        "title": "Iluminação",
        "label": "Wh",
        "format": "{{msg.payload.toFixed(2)}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1.7",
        "seg2": "1.9",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2620d719d05ae40b",
        "type": "ui_group",
        "name": "Consumo Geral ",
        "tab": "9de4412dd5de194b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33c77672c039fffb",
        "type": "mqtt-broker",
        "name": "LabsoftIot",
        "broker": "143.107.102.8",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8971ef8eb143ed88",
        "type": "ui_group",
        "name": "Iluminação",
        "tab": "48555a73dff20294",
        "order": 4,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "87904a2117d47d85",
        "type": "ui_group",
        "name": "Equipamentos Ergométricos",
        "tab": "48555a73dff20294",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a614225ff12d6ff5",
        "type": "ui_group",
        "name": "Sistema Administrativo",
        "tab": "48555a73dff20294",
        "order": 3,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "654b4c7798a1604b",
        "type": "ui_group",
        "name": "Ar-Condicionado",
        "tab": "48555a73dff20294",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b2e1e7a9c0a65cf",
        "type": "ui_group",
        "name": "Consumo por Área ",
        "tab": "9de4412dd5de194b",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9de4412dd5de194b",
        "type": "ui_tab",
        "name": "Consumo de Energia Elétrica da Academia",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "48555a73dff20294",
        "type": "ui_tab",
        "name": "Consumo por Área",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]